body {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.enunciado {
  font-size: 20px;
  width: auto;
}

.ex01 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: peachpuff;
  padding: 2%;
  border: solid 3px;
}

.ex02 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: cornflowerblue;
  padding: 2%;
  border: solid 3px;
}

.imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.imagem1 {
  cursor: pointer;
  width: 90px;
  height: 100px;
}

.imagemChange {
  width: 70px;
  height: 70px;
}

.imagem2 {
  cursor: pointer;
  width: 90px;
  height: 100px;
}

.ex03 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: transparent;
  padding: 2%;
  border: solid 3px;
}

.ex04 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: darksalmon;
  padding: 2%;
  border: solid 3px;
}
