body {
  display: flex;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.enunciado {
  font-size: 20px;
  width: auto;
}

.ex01 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: peachpuff;
  padding: 2%;
  border: solid 3px;
}

.ex02 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: cornflowerblue;
  padding: 2%;
  border: solid 3px;
}

.imagens {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.imagem1 {
  cursor: pointer;
  width: 90px;
  height: 100px;
}

.imagemChange {
  width: 70px;
  height: 70px;
}

.imagem2 {
  cursor: pointer;
  width: 90px;
  height: 100px;
}

.ex03 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: transparent;
  padding: 2%;
  border: solid 3px;
}

.ex04 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: darksalmon;
  padding: 2%;
  border: solid 3px;
}

.ex05 {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: linen;
  padding: 2%;
  border: solid 3px;
}

.calculadora {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px;
  width: 40%;
  background-color: midnightblue;
  gap: 1rem;
  padding-top: 2%;
  padding-bottom: 2%;
}

.display {
  display: flex;
  width: 90%;
  height: 50px;
  background-color: black;
  border: solid 1px;
  border-color: green;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 90%;
}

.number-area {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.numbers {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5%;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: min-content;
  width: 100%;
  height: 70%;
  padding-top: 5%;
  padding-bottom: 3%;
}

.number {
  border: none;
  border-radius: 100%;
  width: fit-content;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  font-size: large;
  width: 100%;
}

.zero-number {
  border: none;
  border-radius: 100%;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  font-size: large;
  width: 8%;
}

.zero-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.operations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 7%;
}

.operator {
  border: none;
  border-radius: 100%;
  width: 100%;
  background-color: crimson;
  color: mintcream;
  cursor: pointer;
  font-size: large;
}
